/* 
HEADER 
*/
#header #logo h2 {
	color: #fff;
	font-size: 16px;
	margin-bottom: 0;
}
#header #logo {
	margin-top: -15px;
	transition: all 0.5s;
}
#header.header-fixed #logo {
	transform: scale(0.9);
	margin-top: -19px;
	transition: all 0.5s;
}

/*
HERO SECTION 
*/
#hero {
	color: #fff;
}
#hero a {
	color: #fff;
}
#hero a:hover {
	color: #2dc997;
}
#hero h1 {
	font-size: 30px;
}

#hero ul {
	margin: : 30px 0 0;
	padding-left: 0; 
}
#hero li {
	list-style: none;
}
.hero-logos-container {
	margin: 50px 0 10px 0;
}
#hero .hero-logos-container h2 {
	margin: 10px 0 0;
    font-size: 20px;
    text-transform: uppercase;
}
.logos {
	max-width: 80%;
}

/*
ABOUT SECTION 
*/
#about {
    background: #f7f7f7;
}
#about .about-container .content {
    background: transparent;
}
#about .about-container .icon-box {
	background: transparent;
}
#about .about-container .icon-box .title, 
#about .about-container .icon-box .description {
	margin-left: 0; 
}

/*
SERVICE SECTION 
*/
/*.section-header .section-title {
	margin-bottom: 60px; 
}*/


/*
CONTACT SECTION
*/
.info h1 {
	font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
}
.info h2 {
	font-size: 14px;
}
.info img {
	max-width: 224px;
    margin-bottom: 5px;
}
.info a {
	color: #333333;
}
.info a:hover {
	color: #2dca98;
}

/*
MOBILE
*/
.hero-
@media (max-width: 768px) {
	#header #logo h2 {
		font-size: 10px;
	}
	#header.header-fixed #logo {
		margin-top: -13px;
		transform: none; 
	}

	#hero .hero-logos-container h2 {
		margin: 5px 0 0px;
    	font-size: 14px;
	}
	.logos {
		margin-top: 30px;
	}
}